* {
  margin: 0;
  padding: 0;
  font-family: "Arial";
}

.App {
  font-family: sans-serif;
  text-align: center;
  margin: 0 15%;
}

button {
  width: 100%;
  padding: 3px 0;
}

ul {
  width: 100%;
  margin: 5px 0;
  padding: 0;
}

li {
  border: 1px solid gray;
  list-style-type: none;
  margin: 3px 0;
}

li:hover {
  border-width: 2px;
  border-color: black;
  box-shadow: blue 2px 2px;
}

li > h6 {
  background: silver;
  color: navy;
  margin: 2px 5px;
  padding: 3px 0;
  text-align: center;
  font-style: italic;
}

li > p {
  text-align: justify;
  margin: 2px 15px;
  font-size: 12px;
}

.filter {
  margin: 5px 0;
}
input {
  width: 80%;
  border: 1px solid blueviolet;
  padding: 2px 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

select {
  width: 16%;
  border: 1px solid blueviolet;
  padding: 1px 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

b {
  font-family: "Arial Black";
  text-transform: uppercase;
  font-size: 3em;
  letter-spacing: 4px;
  background: linear-gradient(90deg, #000, #fff, #000);
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}
